{% extends 'base.html' %}

{% block NAV %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('event') }}">Create Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('settings') }}">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}" style="color: thistle;">Log out</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div> 
{% endblock %}

{% block HEADER %}
    <h2>{% block TITLE %}Settings{% endblock %}</h2>
{% endblock %}

{% block CONTENT %}

{% endblock %}